apiVersion: v1
kind: Service
metadata:
  name: netflix-clone-service
spec:
  type: LoadBalancer
  selector:
    app: netflix-clone
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
  - name: https
    protocol: TCP
    port: 443
    targetPort: 80
